<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DateTimeServlet</servlet-name>
        <servlet-class>servlets.DateTimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GreetingServlet</servlet-name>
        <servlet-class>servlets.GreetingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RandomServlet</servlet-name>
        <servlet-class>servlets.RandomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MultiplicationTableServlet</servlet-name>
        <servlet-class>servlets.MultiplicationTableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DateTimeServlet</servlet-name>
        <url-pattern>/DateTimeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GreetingServlet</servlet-name>
        <url-pattern>/greetings/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RandomServlet</servlet-name>
        <url-pattern>/random.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MultiplicationTableServlet</servlet-name>
        <url-pattern>/multi-table.html</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
